/**** note 
navbar: white
navbar-search-bg: #e5e5e5
main-header:primary
card-header: #f7f7f7
sidebar-bg-dark: #051e34, $blue-900
sidebar-bg-light: #12293e
*****/

/* #region Common */
:root {
    --dash-dark-blue: #051e34;
}
/* #endregion Common */

/* #region Debug */
.debug nav {
    height: 70px;
    background-color: black;
}

.debug .sidebar {
    width: 70px;
    height: calc(100vh - 70px);
}

.debug .main_content {
    width: calc(100% - 70px);
    background-color: aqua;
}
/* #endregion Debug */

/* #region Utilities */

/* #endregion Utilities */

/* #region Header */

/* #endregion Header */

/* #region Main */
.sidebar {
    background-color: var(--dash-dark-blue);
}

.main_content {
    height: calc(100vh - 70px);
}
 
/* #endregion Main */

/* #region Media Queries */
@media screen and (min-width: 1200px) {
    .debug .sidebar {
        width: 150px;
    }

    .debug .main_content {
        width: calc(100% - 150px);
    }
}
/* #region Media Queries */